@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
body {
    background-color: black;
    font-family: 'Rubik', sans-serif;
}

.background-dark {
    background-color: black;
}

.trading-card{
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  /* Style the links inside the navigation bar */
  .topnav div {
    width: 100%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
  }
  
  .topnav div:hover {
    border-bottom: 3px solid white;
  }
  
  .topnav div.active {
    border-bottom: 3px solid white;
  }

  .purple {
    background-color: #6f42c1;
    border-color: #6f42c1;
  }
  .green {
    background-color: green;
    border-color: green;
  }
  .red {
    background-color: red;
    border-color: red;
  }
  .btn-width{
    width: 7rem;
  }
  .amt-input{
    width: 20rem;
  }